In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy
import scipy.stats as st
import sklearn 
import sklearn.datasets
import sklearn.metrics as metrics 
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.cross_validation import StratifiedKFold
from sklearn.svm import SVC
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import label_binarize
from sklearn.feature_selection import mutual_info_classif
from scipy import stats
import collections
import re

C:\Anaconda\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Anaconda\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 150)

In [3]:
data2017 = pd.read_excel("PERM_Disclosure_Data_FY17.xlsx")
data2016 = pd.read_excel("PERM_Disclosure_Data_FY16.xlsx")
data2015 = pd.read_excel("PERM_Disclosure_Data_FY15_Q4.xlsx")

In [4]:
#Change the column names so they match between years
data2016 = data2016.rename(columns = {'FW_INFO_REL_OCCUP_EXPERIENCE':'FW_INFO_REL_OCCUP_EXP'})
data2015 = data2015.rename(columns = {'JI_FOREIGN_WORKER_LIVE_ON_PREMISES':'JI_FW_LIVE_ON_PREMISES'})
data2015 = data2015.rename(columns = {'REC_INFO_BARG_REP_NOTIFIED':'RECR_INFO_BARG_REP_NOTIFIED'})
data2015 = data2015.rename(columns = {'JI_OFFERED_TO_SEC_J_FOREIGN_WORKER':'JI_OFFERED_TO_SEC_J_FW'})
data2017 = data2017.rename(columns = {'PW_JOB_TITLE_9089':'PW_Job_Title_9089'})

In [5]:
dataList = [data2017, data2016, data2015]
originalData = pd.concat(dataList)

In [47]:
df = originalData.copy()

In [48]:
#DROP WITHRAWN FROM CASE_STATUS
df = df[df['CASE_STATUS'] != 'Withdrawn']

COLUMNS TO KEEP

In [49]:
df = df[['CASE_STATUS', 'REFILE','FW_OWNERSHIP_INTEREST'
         ,'JOB_INFO_TRAINING','JOB_INFO_EXPERIENCE','JOB_INFO_FOREIGN_LANG_REQ'
         ,'JI_OFFERED_TO_SEC_J_FW','RECR_INFO_COLL_TEACH_COMP_PROC'
         ,'RI_COLL_TCH_BASIC_PROCESS','RECR_INFO_SUNDAY_NEWSPAPER','RECR_INFO_EMPLOYER_REC_PAYMENT'
         ,'RI_POSTED_NOTICE_AT_WORKSITE','RI_LAYOFF_IN_PAST_SIX_MONTHS','RI_US_WORKERS_CONSIDERED'
         ,'FW_INFO_TRAINING_COMP','FW_INFO_REQ_EXPERIENCE','FW_INFO_ALT_EDU_EXPERIENCE'
         ,'FW_INFO_REL_OCCUP_EXP','PREPARER_INFO_EMP_COMPLETED','RECR_INFO_BARG_REP_NOTIFIED', 'COUNTRY_OF_CITIZENSHIP']]

In [50]:
Countries = pd.read_excel("Countries.xlsx")

In [51]:
CountriesDf = Countries.copy()

In [52]:
CountriesDf

     Region                                   Country
0         1                                   Unknown
1        13                               AFGHANISTAN
2        17                                     ALAND
3        18                                   ALBANIA
4         4                                   ALGERIA
5        23                            AMERICAN SAMOA
6        18                                   ANDORRA
7         3                                    ANGOLA
8         7                                  ANGUILLA
9         1                                ANTARCTICA
10        7                       ANTIGUA AND BARBUDA
11        9                                 ARGENTINA
12       15                                   ARMENIA
13        7                                     ARUBA
14       20                                 AUSTRALIA
15       19                                   AUSTRIA
16       15                                AZERBAIJAN
17        7                                   BAHAMAS
18       15                                   BAHRAIN
19       13                                BANGLADESH
20        7                                  BARBADOS
21       16                                   BELARUS
22       19                                   BELGIUM
23        8                                    BELIZE
24        6                                     BENIN
25       10                                   BERMUDA
26       13                                    BHUTAN
27        9                                   BOLIVIA
28       18                    BOSNIA AND HERZEGOVINA
29        5                                  BOTSWANA
30        1                             BOUVET ISLAND
31        9                                    BRAZIL
32        1            BRITISH INDIAN OCEAN TERRITORY
33       14                         BRUNEI DARUSSALAM
34       16                                  BULGARIA
35        6                              BURKINA FASO
36        2                                   BURUNDI
37       14                                  CAMBODIA
38        3                                  CAMEROON
39       10                                    CANADA
40        6                                CAPE VERDE
41        7                            CAYMAN ISLANDS
42        3                  CENTRAL AFRICAN REPUBLIC
43        3                                      CHAD
44        9                                     CHILE
45       12                                     CHINA
46        1                          CHRISTMAS ISLAND
47        1                             COCOS ISLANDS
48        9                                  COLOMBIA
49        2                                   COMOROS
50        3                                     CONGO
51       23                              COOK ISLANDS
52        8                                COSTA RICA
53        6                             COTE d'IVOIRE
54       18                                   CROATIA
55        7                                      CUBA
56       15                                    CYPRUS
57       16                            CZECH REPUBLIC
58       17                                   DENMARK
59        2                                  DJIBOUTI
60        7                                  DOMINICA
61        7                        DOMINICAN REPUBLIC
62        9                                   ECUADOR
63        4                                     EGYPT
64        8                               EL SALVADOR
65        3                         EQUATORIAL GUINEA
66        2                                   ERITREA
67       17                                   ESTONIA
68        2                                  ETHIOPIA
69        9                          FALKLAND ISLANDS
70        1                             FAROE ISLANDS
71       21                                      FIJI
72       17                                   FINLAND
73       19                                    FRANCE
74        9                             FRENCH GUIANA
..      ...                                       ...
171       9                                      PERU
172      14                               PHILIPPINES
173      23                                  PITCAIRN
174      16                                    POLAND
175      18                                  PORTUGAL
176       7                               PUERTO RICO
177      15                                     QATAR
178       2                                   REUNION
179      16                                   ROMANIA
180      16                                    RUSSIA
181       2                                    RWANDA
182       7                          SAINT BARTHELEMY
183       6                              SAINT HELENA
184       7                     SAINT KITTS AND NEVIS
185       7                               SAINT LUCIA
186       7                              SAINT MARTIN
187      10                 SAINT PIERRE AND MIQUELON
188       7          SAINT VINCENT AND THE GRENADINES
189      23                                     SAMOA
190      18                                SAN MARINO
191       3                     SAO TOME AND PRINCIPE
192      15                              SAUDI ARABIA
193       6                                   SENEGAL
194      18                                    SERBIA
195       2                                SEYCHELLES
196       6                              SIERRA LEONE
197      14                                 SINGAPORE
198      16                                  SLOVAKIA
199      18                                  SLOVENIA
200      21                           SOLOMON ISLANDS
201       2                                   SOMALIA
202       5                              SOUTH AFRICA
203       1  SOUTH GEORGIA AND SOUTH SANDWICH ISLANDS
204      18                                     SPAIN
205      13                                 SRI LANKA
206       4                                     SUDAN
207       9                                  SURINAME
208      17            SVALBARD AND JAN MAYEN ISLANDS
209       5                                 SWAZILAND
210      17                                    SWEDEN
211      19                               SWITZERLAND
212      15                                     SYRIA
213       1                                    TAIWAN
214      11                                TAJIKISTAN
215       2                                  TANZANIA
216      14                                  THAILAND
217      14                               TIMOR-LESTE
218       6                                      TOGO
219      23                                   TOKELAU
220      23                                     TONGA
221       7                       TRINIDAD AND TOBAGO
222       4                                   TUNISIA
223      15                                    TURKEY
224      11                              TURKMENISTAN
225       7                  TURKS AND CAICOS ISLANDS
226      23                                    TUVALU
227       2                                    UGANDA
228      16                                   UKRAINE
229      15                      UNITED ARAB EMIRATES
230      17                            UNITED KINGDOM
231       1      UNITED STATES MINOR OUTLYING ISLANDS
232      10                  UNITED STATES OF AMERICA
233       9                                   URUGUAY
234      11                                UZBEKISTAN
235      21                                   VANUATU
236      18                              VATICAN CITY
237       9                                 VENEZUELA
238       1                                   VIETNAM
239       7                    VIRGIN ISLANDS BRITISH
240       7                         VIRGIN ISLANDS US
241      23                 WALLIS AND FUTUNA ISLANDS
242       4                            WESTERN SAHARA
243      15                                     YEMEN
244       2                                    ZAMBIA
245       2                                  ZIMBABWE

[246 rows x 2 columns]

In [53]:
dfList = df['COUNTRY_OF_CITIZENSHIP'].tolist()
CountriesList = CountriesDf['Country'].tolist()

In [54]:
count = 0
regionList = []
for i in dfList:
    count += 1
    if(count%10000 == 0):
        print(count)
    country = i
    country = str(country)
    countryList = country.split(" AND ")
    found = False
    for j, k in zip(CountriesList, RegionsList):
        if(country == j):
            regionList.append(k)
            found = True
            break;
        elif(any(j in s for s in countryList)):
            regionList.append(k)
            found = True
            break;
    if(found != True):
        regionList.append(1)

CitizenLoc = df.columns.get_loc('COUNTRY_OF_CITIZENSHIP')
df.insert(CitizenLoc + 1, 'CitizenRegion',value = regionList)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000

In [55]:
print(list(zip(regionList, dfList))[:500])

[(1, 'TAIWAN'), (9, 'VENEZUELA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'NEPAL'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (17, 'SWEDEN'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (10, 'CANADA'), (13, 'INDIA'), (8, 'MEXICO'), (12, 'CHINA'), (13, 'INDIA'), (15, 'JORDAN'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (16, 'RUSSIA'), (9, 'PERU'), (7, 'BAHAMAS'), (13, 'INDIA'), (12, 'MONGOLIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (16, 'UKRAINE'), (17, 'UNITED KINGDOM'), (13, 'INDIA'), (13, 'INDIA'), (10, 'CANADA'), (14, 'PHILIPPINES'), (14, 'PHILIPPINES'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (1, 'TAIWAN'), (13, 'PAKISTAN'), (12, 'CHINA'), (15, 'ROMANIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (16, 'RUSSIA'), (16, 'CZECH REPUBLIC'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (14, 'PHILIPPINES'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (12, 'CHINA'), (14, 'MALAYSIA'), (13, 'INDIA'), (10, 'CANADA'), (1, 'TAIWAN'), (15, 'ROMANIA'), (10, 'CANADA'), (16, 'RUSSIA'), (13, 'INDIA'), (17, 'FINLAND'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (20, 'AUSTRALIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (5, 'SOUTH AFRICA'), (13, 'INDIA'), (12, 'CHINA'), (6, 'GHANA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'PAKISTAN'), (10, 'CANADA'), (13, 'INDIA'), (13, 'INDIA'), (14, 'PHILIPPINES'), (12, 'CHINA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (8, 'MEXICO'), (13, 'INDIA'), (20, 'AUSTRALIA'), (13, 'INDIA'), (1, 'VIETNAM'), (12, 'SOUTH KOREA'), (8, 'MEXICO'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (14, 'PHILIPPINES'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (9, 'COLOMBIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (1, 'VIETNAM'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (1, 'VIETNAM'), (1, 'VIETNAM'), (13, 'INDIA'), (17, 'UNITED KINGDOM'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (15, 'TURKEY'), (13, 'INDIA'), (13, 'INDIA'), (10, 'CANADA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (19, 'GERMANY'), (13, 'INDIA'), (9, 'BRAZIL'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (9, 'VENEZUELA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'IRAN'), (12, 'CHINA'), (12, 'SOUTH KOREA'), (12, 'JAPAN'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (14, 'INDONESIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (19, 'GERMANY'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (9, 'BRAZIL'), (13, 'NEPAL'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (1, 'VIETNAM'), (13, 'INDIA'), (15, 'TURKEY'), (12, 'SOUTH KOREA'), (9, 'BRAZIL'), (12, 'CHINA'), (17, 'IRELAND'), (8, 'MEXICO'), (14, 'PHILIPPINES'), (12, 'SOUTH KOREA'), (20, 'AUSTRALIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (18, 'SPAIN'), (13, 'PAKISTAN'), (11, 'UZBEKISTAN'), (12, 'SOUTH KOREA'), (12, 'CHINA'), (14, 'THAILAND'), (13, 'NEPAL'), (14, 'PHILIPPINES'), (12, 'SOUTH KOREA'), (12, 'SOUTH KOREA'), (12, 'CHINA'), (17, 'UNITED KINGDOM'), (16, 'BULGARIA'), (13, 'IRAN'), (18, 'ITALY'), (13, 'INDIA'), (13, 'INDIA'), (16, 'BULGARIA'), (14, 'PHILIPPINES'), (12, 'CHINA'), (13, 'PAKISTAN'), (12, 'SOUTH KOREA'), (11, 'KAZAKHSTAN'), (9, 'BOLIVIA'), (8, 'MEXICO'), (17, 'IRELAND'), (12, 'SOUTH KOREA'), (12, 'CHINA'), (8, 'MEXICO'), (10, 'CANADA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'PAKISTAN'), (10, 'CANADA'), (13, 'INDIA'), (12, 'CHINA'), (9, 'BRAZIL'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (8, 'EL SALVADOR'), (1, 'MACAU'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (10, 'CANADA'), (13, 'INDIA'), (15, 'TURKEY'), (13, 'INDIA'), (9, 'VENEZUELA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (16, 'RUSSIA'), (17, 'NORWAY'), (13, 'INDIA'), (9, 'VENEZUELA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (17, 'FINLAND'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (10, 'CANADA'), (13, 'INDIA'), (10, 'CANADA'), (12, 'CHINA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (12, 'HONG KONG'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (16, 'RUSSIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (10, 'CANADA'), (9, 'ARGENTINA'), (13, 'INDIA'), (13, 'INDIA'), (19, 'FRANCE'), (9, 'BRAZIL'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (18, 'ITALY'), (13, 'INDIA'), (8, 'MEXICO'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'PAKISTAN'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (17, 'UNITED KINGDOM'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (16, 'HUNGARY'), (9, 'ARGENTINA'), (13, 'INDIA'), (19, 'FRANCE'), (17, 'UNITED KINGDOM'), (13, 'NEPAL'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (9, 'BRAZIL'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (16, 'UKRAINE'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (10, 'CANADA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (15, 'ROMANIA'), (13, 'INDIA'), (13, 'INDIA'), (14, 'PHILIPPINES'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (16, 'BELARUS'), (13, 'PAKISTAN'), (13, 'INDIA'), (9, 'PARAGUAY'), (13, 'INDIA'), (15, 'ROMANIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'IRAN'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (14, 'THAILAND'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (16, 'CZECH REPUBLIC'), (15, 'TURKEY'), (13, 'INDIA'), (12, 'CHINA'), (14, 'MALAYSIA'), (14, 'THAILAND'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (15, 'SYRIA'), (9, 'ARGENTINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'CHINA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (12, 'SOUTH KOREA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (13, 'INDIA'), (1, 'TAIWAN')]

In [56]:
df.tail(50)

,CASE_STATUS,REFILE,FW_OWNERSHIP_INTEREST,JOB_INFO_TRAINING,JOB_INFO_EXPERIENCE,JOB_INFO_FOREIGN_LANG_REQ,JI_OFFERED_TO_SEC_J_FW,RECR_INFO_COLL_TEACH_COMP_PROC,RI_COLL_TCH_BASIC_PROCESS,RECR_INFO_SUNDAY_NEWSPAPER,RECR_INFO_EMPLOYER_REC_PAYMENT,RI_POSTED_NOTICE_AT_WORKSITE,RI_LAYOFF_IN_PAST_SIX_MONTHS,RI_US_WORKERS_CONSIDERED,FW_INFO_TRAINING_COMP,FW_INFO_REQ_EXPERIENCE,FW_INFO_ALT_EDU_EXPERIENCE,FW_INFO_REL_OCCUP_EXP,PREPARER_INFO_EMP_COMPLETED,RECR_INFO_BARG_REP_NOTIFIED,COUNTRY_OF_CITIZENSHIP,CitizenRegion
84886,Denied,Y,NaN,N,N,N,Y,N,N,Y,N,A,N,A,NaN,NaN,NaN,NaN,N,A,MEXICO,8
84887,Denied,N,NaN,N,N,N,Y,N,N,Y,N,Y,N,N,NaN,NaN,NaN,NaN,N,A,SOUTH KOREA,12
84888,Denied,N,NaN,N,N,N,Y,N,N,Y,N,Y,N,N,NaN,NaN,NaN,NaN,N,A,SOUTH KOREA,12
84889,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,A,A,A,A,A,N,A,MEXICO,8
84890,Denied,N,N,N,Y,N,Y,N,Y,Y,N,Y,N,A,A,Y,A,A,N,Y,VENEZUELA,9
84891,Denied,N,N,N,Y,N,Y,N,Y,Y,N,Y,N,A,A,Y,A,A,N,Y,COLOMBIA,9
84892,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,A,Y,A,VIETNAM,1
84893,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,A,Y,A,CHINA,12
84894,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,SOUTH KOREA,12
84895,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,SOUTH KOREA,12
84896,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,SOUTH KOREA,12
84897,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,CHINA,12
84898,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,CHINA,12
84899,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,SOUTH KOREA,12
84900,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,SOUTH KOREA,12
84901,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,SOUTH KOREA,12
84902,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,SOUTH KOREA,12
84903,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,A,N,NaN,A,A,A,A,Y,Y,SOUTH KOREA,12
84904,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,N,A,INDIA,13
84905,Denied,N,N,Y,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,Y,A,A,A,N,A,SOUTH KOREA,12
84906,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,A,Y,A,JAMAICA,7
84907,Denied,N,N,N,Y,N,Y,Y,Y,Y,N,A,N,A,A,Y,A,A,N,A,GREECE,18
84908,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,Y,N,N,SOUTH KOREA,12
84909,Denied,N,Y,N,Y,N,Y,NaN,NaN,N,N,A,N,NaN,A,Y,A,A,N,A,GREECE,18
84910,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,Y,A,VENEZUELA,9
84911,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,N,A,SOUTH KOREA,12
84912,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,Y,A,SOUTH KOREA,12
84913,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,Y,A,SOUTH KOREA,12
84914,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,Y,A,SOUTH KOREA,12
84915,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,Y,A,SOUTH KOREA,12
84916,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,Y,A,SOUTH KOREA,12
84917,Denied,N,NaN,Y,Y,N,Y,Y,Y,Y,N,A,N,A,NaN,NaN,NaN,NaN,Y,A,ALBANIA,18
84918,Denied,N,NaN,Y,Y,N,Y,Y,Y,Y,N,A,N,A,NaN,NaN,NaN,NaN,Y,A,ALBANIA,18
84919,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,A,Y,A,PHILIPPINES,14
84920,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,A,N,A,CANADA,10
84921,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,N,N,A,PHILIPPINES,14
84922,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,Y,N,A,ISRAEL,15
84923,Denied,N,NaN,N,N,N,Y,N,Y,Y,N,Y,N,A,NaN,NaN,NaN,NaN,N,Y,CANADA,10
84924,Denied,N,NaN,N,N,N,Y,N,Y,Y,N,Y,N,A,NaN,NaN,NaN,NaN,N,Y,CANADA,10
84925,Denied,N,NaN,N,N,N,Y,N,N,Y,N,Y,N,N,NaN,NaN,NaN,NaN,Y,A,PHILIPPINES,14
84926,Denied,N,NaN,N,N,N,Y,N,N,Y,N,Y,N,N,NaN,NaN,NaN,NaN,Y,A,PHILIPPINES,14
84927,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,A,Y,N,A,CHINA,12
84928,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,A,N,A,CHINA,12
84929,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,Y,N,A,INDIA,13
84930,Denied,N,N,Y,N,N,Y,NaN,NaN,N,N,A,N,NaN,Y,Y,A,A,Y,A,MEXICO,8
84931,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,Y,N,A,SOUTH KOREA,12
84932,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,A,N,A,THAILAND,14
84933,Denied,N,N,N,Y,N,Y,N,Y,Y,N,Y,N,NaN,N,Y,N,N,N,N,JORDAN,15
84934,Denied,N,N,N,N,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,A,A,A,Y,A,CHINA,12
84935,Denied,N,N,N,Y,N,Y,NaN,NaN,Y,N,Y,N,NaN,A,Y,Y,A,N,A,UKRAINE,16

In [43]:
(df['CitizenRegion'].value_counts(dropna=False) / df['CitizenRegion'].value_counts(dropna=False).sum()) * 100

13    57.695930
12    16.494204
10     3.716413
9      3.037434
14     2.772832
8      2.767839
1      2.255609
16     1.974032
15     1.904137
17     1.882503
19     1.752366
18     1.376597
20     0.488266
6      0.425693
7      0.425361
4      0.394407
2      0.274920
5      0.204692
11     0.105508
3      0.043934
21     0.004992
22     0.001997
23     0.000333
Name: CitizenRegion, dtype: float64